body{
    background-color: olive;
}

h1{
    font-size:40px;
    text-align: center;
}

h2{
    display: inline-block;
    font-size: 30px;
    margin-bottom: 10px;
}
header{
    color: white;
    font-family: cursive;
    margin-bottom: 20px;
    margin-top: 20px;
}

main{
    margin: 20px auto;
    text-align: center;
}


img{
    cursor: pointer;
    display: inline-block;
    height: 300px;
    margin-left: 20px;
    width: 300px;
}

figure{
    display: inline-block;
}

figcaption{
    background-color: darkgray;
    height: 30px;
    font-size: 20px;
    margin-left: 20px;
    padding: 10px;
    
}

canvas{
    height:400px;
    width: 400px;
}

